.btAjouter{
    background-color: rgb(23, 113, 197);
    border: solid rgb(141, 141, 141) 3px;
    border-radius: 20px;
}

.btAjouter:hover{
    background-color: white;
}

.btAjouter:hover .optionBar{
    color:rgb(23, 113, 197);
}

.btAjouter{
    color:white;
    font-size: larger;
    font-weight: bolder;
    margin: 2px;
    text-decoration: none;
}

@media(min-width: 0px) and (max-width: 1200px){
    .btAjouter{
        font-size: smaller;
    }
}

.liste-jet{
    text-align:center;
}

.ligne-jet{
    display: flex;
    justify-content: space-around;
}

.unJet{
    width: 375px;
    margin: 10px;
    padding: 3px;
    background-image: url(../img/ciel.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: rgb(141, 141, 141) 2px;
    border-radius: 8px;
}