@font-face{
    src:url(../font/Air\ Americana.ttf);
    font-family: avion;
}

.bar{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 100%;
}
.optionStyle{
    background-color: rgb(23, 113, 197);
    border: solid rgb(141, 141, 141) 3px;
    border-radius: 20px;
}

.optionStyle:hover{
    background-color: white;
}

.optionStyle:hover .optionBar{
    color:rgb(23, 113, 197);
}

.optionBar{
    color:white;
    font-size: larger;
    font-weight: bolder;
    margin: 2px;
    text-decoration: none;
}

@media(min-width: 0px) and (max-width: 1200px){
    .optionBar{
        font-size: smaller;
    }
}

.liste-jet{
    text-align:center;
}

.ligne-jet{
    display: flex;
    justify-content: space-around;
}

.unJet{
    width: 375px;
    margin: 10px;
    padding: 3px;
    background-image: url(../img/ciel.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: rgb(141, 141, 141) 2px;
    border-radius: 8px;
}

.card-title{
    font-family: avion;
    color: darkgrey;
    font-size: 50px;
    text-shadow: -1px -1px yellow;
}

.card-text{
    font-size: 15px;
    font-weight: bold;
}

.modifier{
    font-family: avion;
    color: yellow;
    font-size: 20px;
    padding: 3px;
    border: solid rgba(233, 220, 100, 0.418) 2px;
    border-radius: 10px;
    background-color:rgba(233, 220, 100, 0.418) ;
}

.modifier:hover{
    background-color:rgba(233, 220, 100, 0.795) ;
    color: darkgray;
}